@model Producto
@{
    ViewData["Title"] = "Lista de Productos";
}

<div class="text-left">
    <h1 class="display-4">Editar Libros</h1>
    <p>En esta página se editan los productos</a>.</p>
    <p>Inserte los datos relacionados al producto por cambiarse</a>.</p>
    <form method="post">
        <input type="hidden" asp-for="IdProducto">
         <div class="mb-3">
            <label >Nombre</label>
            <input asp-for="Nombre" class="form-control">
        </div>
        <div class="mb-3">
            <label>Descripcion</label>
            <input asp-for="Descripcion" class="form-control">
        </div>
        <div class="mb-3">
            <label>Cantidad</label>
            <input asp-for="Cantidad" class="form-control">
        </div>
        <div class="row">
            <div class="col-6" col-md-10>
                <a asp-action="Index" class="btn btn-primary">Regresar</a>
            </div>
            <div class="col-6" col-md-10>
                <button type="submit" asp-action="Edit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
              
    </form>
</div>