@model Producto
@{
    ViewData["Title"] = "Lista de Productos";
}

<div class="text-left">
    <h1 class="display-4">Detalle Libro</h1>
    <p>En esta página se ven los detalles del libro</a>.</p>
    <form method="post">
        <input type="hidden" asp-for="IdProducto">
         <div class="mb-3">
            <label >Nombre</label>
            <input asp-for="Nombre" readonly class="form-control">
        </div>
        <div class="mb-3">
            <label>Autor</label>
            <input asp-for="Autor" readonly class="form-control">
        </div>
        <div class="mb-3">
            <label>Genero</label>
            <input asp-for="Genero" readonly class="form-control">
        </div>
        <div class="mb-3">
            <label>Descripcion</label>
            <textarea asp-for="Descripcion" readonly class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label>Cantidad</label>
            <input asp-for="Cantidad" readonly class="form-control">
        </div>
        <div class="mb-3">
            <label>Costo</label>
            <input asp-for="Costo" readonly class="form-control">
        </div>
        <div class="row">
            <div class="col-6" col-md-10>
                <a asp-action="Index" class="btn custom-btn-color-3">Regresar</a>
            </div>
            <div class="col-6" col-md-10>
                <button type="submit" asp-action="Edit" class="btn custom-btn-color">Guardar Cambios</button>
            </div>
        </div>
              
    </form>
</div>